<div class="container">
    <div class="row justify-content-center title-content">
        <div class="col-auto text-center mt-4">
            <img src="assets/images/bobs_burger.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <h1 class="title">Eat Da Bob's Burger</h1>
        </div>
    </div>
    <div class="row justify-content-center user-form">
        <div class="col-auto">
            <form class="form-inline">
                <input class="form-control form-control-lg" type="text" placeholder="Enter Burger Here">
                <button type="button" id="addBurger" class="btn btn-primary btn-lg ml-4">Add Burger</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-between mt-4 burger-lists">
        <div class="col-6 text-center">
            <h3 class="title">Ready to eat!</h3>
                {{#each burgers}}
                    {{#unless this.devoured}}
                    <form class="form-inline">
                    <div class="card col-7 ml-3 mb-3 mr-3 bg-warning">
                        <div class="card-body p-2 text-center">
                            <h4>{{this.burger_name}}</h4>
                        </div>
                    </div>
                    
                        <button type="button" class="btn btn-danger btn-lg mb-3 yum">Yum!</button>
                    </form>
                    {{/unless}}
                {{/each}}
            </div>
        <div class="col-auto text-center">
            <h3 class="title">
                Nom Nom... eaten!
            </h3>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <form class="form-inline">
                            <div class="card col-12 ml-3 mb-3 mr-3 bg-warning">
                                <div class="card-body p-2 text-center">
                                    <h4><strike>{{this.burger_name}}</strike></h4>
                                </div>
                            </div>
                        </form>
                    {{/if}}
                {{/each}}
        </div>
    </div>
</div>