<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <img src="assets/images/bobs_burger.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <h1 id="title">Eat Da Bobs Burger</h1>
        </div>
    </div>
</div>